version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - ./logs/backend:/var/log/backend
      - ./ssl:/etc/ssl
    environment:
      - TOGETHER_API_KEY=${TOGETHER_API_KEY}

  frontend:
    build: ./frontend
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./logs/frontend:/var/log/nginx
      - ./ssl:/etc/nginx/ssl  # Изменен путь монтирования
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - ./logs/redis:/var/log/redis
    command: redis-server --logfile /var/log/redis/redis.log
